@import "~bootstrap/dist/css/bootstrap.css";

body {
  overflow-x: hidden;
}

.resume {
  background: #fbfbfb;
  margin: 20px auto;
  border: 1px solid #bbb;
  box-shadow: 0 0 20px -3px #bbb;
  position: relative;
  display: flex;
}

.resume .func {
  box-sizing: border-box;
  float: left;
  width: 100%;
  padding: 30px 25px;
}

.resume .func>div {
  padding-bottom: 10px;
}

.resume .func>div:last-of-type {
  padding-bottom: 0;
}

.resume .func h3 {
  transition-duration: 0.3s;
  margin-top: 0;
}

.resume .func h3 i {
  color: #fbfbfb;
  background: #8d9e78;
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
}

.resume .func:hover>div {
  transition-duration: 0.3s;
}

.resume .func:hover>div:hover h3 {
  letter-spacing: 1.6px;
}

.resume .func:hover>div:hover h3 i {
  transform: scale(1.2);
}

.resume .func:hover>div:not(:hover) {
  opacity: 0.5;
}