.skills-prog {
    clear: both;
}
.skills-prog ul {
    margin-left: 15px;
}
.skills-prog ul li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
}
.skills-prog ul li:hover {
    color: #e07a5f;
}
.skills-prog ul li:hover .skills-bar .bar {
    background: #e07a5f;
    box-shadow: 0 0 0 1px #e07a5f;
}
.skills-prog ul li span {
    display: block;
    width: 120px;
}
.skills-prog ul li .skills-bar {
    background: #cdcdcd;
    height: 2px;
    width: calc(100% - 120px);
    position: relative;
    border-radius: 2px;
}
.skills-prog ul li .skills-bar .bar {
    position: absolute;
    top: -1px;
    height: 4px;
    background: #8d9e78;
    box-shadow: 0 0 0 #8d9e78;
    border-radius: 5px;
}
.interests-items {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    border: 1px solid #cdcdcd;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.interests-items div {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.interests-items div:hover i {
    transform: scale(1.2);
}
.interests-items div:hover span {
    color: #e07a5f;
    transition-duration: 0.3s;
}
.interests-items div i {
    font-size: 45px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #8d9e78;
    transition-duration: 0.3s;
}
.interests-items div i.guitar {
    display: block;
    margin: 0 auto;
}
.interests-items div i.guitar svg {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    fill: #8d9e78;
}
.interests-items div span {
    display: block;
}
.skills-soft ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.skills-soft ul li {
    position: relative;
    list-style: none;
}
.skills-soft ul li:hover span {
    transform: scale(1.2);
}
.skills-soft ul li:hover small {
    transform: scale(1.2);
}
.skills-soft ul li:hover svg .cbar {
    stroke: #e07a5f;
    stroke-width: 4px;
}
.skills-soft ul li svg {
    width: 95%;
    fill: transparent;
    transform: rotate(-90deg);
}
.skills-soft ul li svg circle {
    stroke-width: 1px;
    stroke: #cdcdcd;
}
.skills-soft ul li svg .cbar {
    stroke-width: 3px;
    stroke: #8d9e78;
    stroke-linecap: round;
}
.skills-soft ul li span {
    position: absolute;
    display: block;
    width: 100%;
    top: 52%;
    transition-duration: 0.3s;
    top: 45%;
    left: -21px;
    font-size: 11px;
}
.skills-soft ul li small {
    position: absolute;
    display: block;
    width: 100%;
    top: 52%;
    transition-duration: 0.3s;
}
